<footer class="container copyright-view">
    <div class="col-md-4 col-md-offset-1 col-md-push-8">
        <div class="row">
            <p class="text-center">
                <a href="https://www.dggink.com/" target="_blank">
                    <strong>{{'Online Ordering by' | xlat}} Dynamark</strong>
                </a>
            </p>
            <p class="text-center">
                {{'Copyright' | xlat}} © {{year}} Dynamark <br>{{'All Rights Reserved' | xlat}}.
            </p>
        </div>
    </div>
</footer>